<h1>Hello VS Work</h1>

<ul>
  <li>
    <a routerLink="/todo-list">Todo List</a>
  </li>
  <li>
    <a routerLink="/turmrechnen">Turmrechnen</a>
  </li>
  <li>
    <a routerLink="/todoapi">TodoApi</a>
  </li>
  <li>
    <a routerLink="/car-model-list">Car Model List</a>
  </li>
</ul>

<router-outlet></router-outlet>


<!--
<h2>Todo List</h2>






<h2>Simple Data Bindings Tests</h2>
<ul>
  <li>{{ isAngularCool }}</li>

  <li><button [disabled]="isAngularCool">Demo</button></li>

  <li><input [value]="isAngularCool" /></li>

  <li><button (click)="toggle()">Toggle</button></li>

  <li>
    <span [hidden]="!isAngularCool">
      oh yeah, Angular is cool
    </span>
  </li>

  <li>
    <span [style.color]="isAngularCool ? 'red' : 'lightgray'">
      Angular Rulez
    </span>
  </li>

  <li>
    <span [class.isCool]="isAngularCool">
      Angular Rulez
    </span>
  </li>

  <li>{{ myFeelingAboutAngular }}</li>

  <li><input #messageField [(ngModel)]="myFeelingAboutAngular" /></li>
  <li>{{messageField.value}} - Referenzvalue</li>

  <li><input type="checkbox" [(ngModel)]="isAngularCool" />Toggle Checkbox</li>
</ul>




-->
