<h2>List of Car Makes</h2>

<app-car-model-list-filter (filterChanged)="myHandlerMethod($event)"></app-car-model-list-filter>

<app-car-model-list-filter (filterChanged)="myHandlerMethod2()"></app-car-model-list-filter>

<app-car-model-list-view [makes]="makes"></app-car-model-list-view>



<!--
<form [formGroup]="filterForm">
  <input type="text" name="makeFilter" formControlName="makeFilter"/>
<!--  <button #refreshBtn>refresh</button>
</form>

-->

<!--
<ul *ngIf="makes">
  <li *ngFor="let make of makes | async">{{ make }}</li>
</ul>
-->

